[submodule "Packages/ivanbelyj.afterglow"]
	path = Packages/ivanbelyj.afterglow
	url = https://github.com/ivanbelyj/Afterglow.git
[submodule "Packages/com.zor.utility-ai"]
	path = Packages/com.zor.utility-ai
	url = https://github.com/ZorPastaman/UtilityAI.git
[submodule "Packages/com.zor.simple-blackboard"]
	path = Packages/com.zor.simple-blackboard
	url = https://github.com/ZorPastaman/Simple-Blackboard.git
[submodule "Packages/ivanbelyj.common-utilities"]
	path = Packages/ivanbelyj.common-utilities
	url = https://github.com/ivanbelyj/CommonUtilitiesUnity.git
[submodule "Packages/ivanbelyj.common-ui"]
	path = Packages/ivanbelyj.common-ui
	url = https://github.com/ivanbelyj/CommonUI
[submodule "Packages/ivanbelyj.inventory"]
	path = Packages/ivanbelyj.inventory
	url = https://github.com/ivanbelyj/Inventory
[submodule "Packages/ivanbelyj.lifecycle-parameters"]
	path = Packages/ivanbelyj.lifecycle-parameters
	url = https://github.com/ivanbelyj/LifecycleParameters.git
