[submodule "Packages/ivanbelyj.afterglow"]
	path = Packages/ivanbelyj.afterglow
	url = git@github.com:ivanbelyj/Afterglow.git
[submodule "Packages/com.zor.utility-ai"]
	path = Packages/com.zor.utility-ai
	url = https://github.com/ZorPastaman/UtilityAI.git
[submodule "Packages/com.zor.simple-blackboard"]
	path = Packages/com.zor.simple-blackboard
	url = https://github.com/ZorPastaman/Simple-Blackboard.git
[submodule "Packages/ivanbelyj.common-utilities"]
	path = Packages/ivanbelyj.common-utilities
	url = https://github.com/ivanbelyj/CommonUtilitiesUnity.git
